[Desktop Entry]
Version=1.0
Name=Apple Music
Comment=Apple Music
Exec=omarchy-launch-webapp https://music.apple.com/gb/new
Terminal=false
Type=Application
Icon=apple-music
StartupNotify=true
